global-exclude *.pyc *.pyo
include README.md
include COPYING
include requirements.txt
include pytest.ini
include tests/*.py tests/client_secrets.json
include tox.ini
include run-dev-server.py
include fedmsg.d/*.py
recursive-include systemd *
recursive-include conf *
recursive-include docs *.py *.rst Makefile
