# This is a list of pypi packages to be installed into virtualenv. Alternatively,
# you can install these as RPMs instead of pypi packages. 

fedmsg[consumers,commands]
m2crypto
m2ext
Flask
Flask-RESTful
Flask-SQLAlchemy
SQLAlchemy
kerberos >= 1.1.1
flask-oidc
systemd
# packages for the unit tests
pytest >= 2.4.2
mock
stomp.py

# Documentation requirements
sphinx
sphinxcontrib-httpdomain
