# Copy this file to `conf/settings.py` to put it into effect. It overrides the values defined
# in `waiverdb/config.py`.
SECRET_KEY = 'replace-me-with-something-random'
#SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://dbuser:dbpassword@dbhost:dbport/dbname'
SQLALCHEMY_DATABASE_URI = 'sqlite:////var/tmp/waiverdb_db.sqlite'
JOURNAL_LOGGING = False
#SHOW_DB_URI = False
HOST= '0.0.0.0'
PORT = 5004
